<<<<<<< HEAD
.InfoBox{
    text-align: center;
}

.cardContainer{
    display: flex;
    justify-content: center;
=======
.InfoBox{
    text-align: center;
}

.cardContainer{
    display: flex;
    justify-content: center;
>>>>>>> f9bc231c01e9d9b0a1f68b91c11746ff348485a9
}